@import "../../Apps.scss";
.about{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    top: 10%;
    width: 75%;
    margin: auto;
    z-index: -1;
    @include mobile{
        top:2%
    }
}
.heading{
    font-size: larger;
}

.content{
    position: relative;
    padding-top: 70px;
    gap: 20px;
    line-height: 1.9;
    font-family: 'Courier New', Courier, monospace;

    @include mobile{
        padding-top: 0px;
        line-height: 1.35;
    }
}